<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Foodfy</title>

        <link rel="stylesheet" href="../public/style.css">
    </head>

    <body>
        <div id="container">
            <header>
                <div class="home">
                    <a href="../index.html">
                        <img src="../assets/logo.png" alt="">
                    </a>
                </div>

                <div class="links">
                    <a href="./sobre.html">Sobre</a>
                    <a href="./receitas.html" class="link_recipe">Receitas</a>
                </div>
            </header>


            <section class="all_recipes">
                <div class="cards_recipes">
                    
                    <div class="card_recipe" id="burger">
                        <div>
                            <img  src="../assets/burger.png" alt="">
                        </div>
                        <h3 class="recipe_name" id="burger_recipe_name">Tripo bacon burguer</h2>
                        <h6 class="chef_name" id="burger_chef_name">por Jorge Relato</h6>
                    </div>
                    
                    <div class="card_recipe" id="pizza">
                        <div>
                            <img  src="../assets/pizza.png" alt="">
                        </div>
                        <h3 class="recipe_name" id="pizza_recipe_name">Pizza 4 estações</h2>
                        <h6 class="chef_name" id="pizza_chef_name">por Fabiana Melo</h6>
                    </div>

                    <div class="card_recipe" id="espaguete">
                        <div>
                            <img  src="../assets/espaguete.png" alt="">
                        </div>
                        <h3 class="recipe_name" id="espaguete_recipe_name">Espaguete ao alho</h2>
                        <h6 class="chef_name" id="espaguete_chef_name">por Júlia Kinoto</h6>
                    </div>

                    <div class="card_recipe" id="lasanha">
                        <div>
                            <img  src="../assets/lasanha.png" alt="">
                        </div>
                        <h3 class="recipe_name" id="lasanha_recipe_name">Lasanha mac n' cheese</h2>
                        <h6 class="chef_name" id="lasanha_chef_name">por Juliano Vieira</h6>
                    </div>

                    <div class="card_recipe" id="doce">
                        <div>
                            <img src="../assets/doce.png" alt="">
                        </div>
                        <h3 class="recipe_name" id="doce_recipe_name">Docinhos pão-do-céu</h2>
                        <h6 class="chef_name" id="doce_chef_name">por Ricardo Golvea</h6>
                    </div>

                    <div class="card_recipe" id="asinhas"> 
                        <div>
                            <img src="../assets/asinhas.png" alt="">
                        </div>
                        <h3 class="recipe_name" id="asinhas_recipe_name">Asinhas de frango ao barbecue</h2>
                        <h6 class="chef_name" id="asinhas_chef_name">por Lucas Avanzi</h6>
                    </div>

                    <div class="card_recipe" id="burger">
                        <div>
                            <img src="../assets/burger.png" alt="">
                        </div>
                        <h3 class="recipe_name" id="burger_recipe_name">Tripo bacon burguer</h2>
                        <h6 class="chef_name" id="burger_chef_name">por Jorge Relato</h6>
                    </div>
                    
                    <div class="card_recipe" id="pizza">
                        <div>
                            <img src="../assets/pizza.png" alt="">
                        </div>
                        <h3 class="recipe_name" id="pizza_recipe_name">Pizza 4 estações</h2>
                        <h6 class="chef_name" id="pizza_chef_name">por Fabiana Melo</h6>
                    </div>

                    <div class="card_recipe" id="espaguete">
                        <div>
                            <img  src="../assets/espaguete.png" alt="">
                        </div>
                        <h3 class="recipe_name" id="espaguete_recipe_name">Espaguete ao alho</h2>
                        <h6 class="chef_name" id="espaguete_chef_name">por Júlia Kinoto</h6>
                    </div>

                    <div class="card_recipe" id="lasanha">
                        <div>
                            <img  src="../assets/lasanha.png" alt="">
                        </div>
                        <h3 class="recipe_name" id="lasanha_recipe_name">Lasanha mac n' cheese</h2>
                        <h6 class="chef_name" id="lasanha_chef_name">por Juliano Vieira</h6>
                    </div>

                    <div class="card_recipe" id="doce">
                        <div>
                            <img src="../assets/doce.png" alt="">
                        </div>
                        <h3 class="recipe_name" id="doce_recipe_name">Docinhos pão-do-céu</h2>
                        <h6 class="chef_name" id="doce_chef_name">por Ricardo Golvea</h6>
                    </div>

                    <div class="card_recipe" id="asinhas">
                        <div>
                            <img src="../assets/asinhas.png" alt="">
                        </div>
                        <h3 class="recipe_name" id="asinhas_recipe_name">Asinhas de frango ao barbecue</h2>
                        <h6 class="chef_name" id="asinhas_chef_name">por Lucas Avanzi</h6>
                    </div>
                </div>
            </section>
        </div>


        <div class="modal_overlay">
            <div class="modal">
                <div class="modal_content">
                    <div class="image_modal">
                        <img src="../assets/asinhas.png" alt="">
                    </div>
                    <div class="info_modal">
                        <div>
                            <h3 class="recipe_name">Asinhas de frango ao barbecue</h2>  
                        </div>
                        <div>
                            <h6 class="chef_name">por Lucas Avanzi</h6>
                        </div>
                    </div>
                </div>

                <div class="close_modal">
                    <a> fechar modal</a>
                </div>
            </div>
        </div>

        <footer>
            <div>
                <span class="copyright">Todos direitos reservados, receitas Foodfy.</span>
            </div>
        </footer>
        

        <script src="../public/script.js"></script>
    </body>

</html>