<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Foodfy</title>

        <link rel="stylesheet" href="../public/style.css">
    </head>

    <body>
        <div id="container">
            <header>
                <div class="home">
                    <a href="../index.html">
                        <img src="../assets/logo.png" alt="">
                    </a>
                </div>

                <div class="links">
                    <a href="./sobre.html" class="link_sobre">Sobre</a>
                    <a href="./receitas.html">Receitas</a>
                </div>
            </header>

            <div class="content">
                <h1 class="about_foodfy">Sobre o Foodfy</h1>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore delectus dolores rerum animi quis repellat doloremque incidunt ut, quo vel natus fuga corporis, tempore pariatur, blanditiis nam quaerat et iusto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt enim, eveniet voluptate blanditiis minus deserunt, placeat ratione exercitationem ab nobis libero necessitatibus voluptatibus quasi accusamus fugit quos esse eum. Expedita!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores repellendus rem non reprehenderit, neque placeat libero aliquid error cum, eos facere eveniet labore accusamus sapiente odit iusto incidunt perspiciatis harum!</p>

                <h2>Como tudo começou...</h2>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore delectus dolores rerum animi quis repellat doloremque incidunt ut, quo vel natus fuga corporis, tempore pariatur, blanditiis nam quaerat et iusto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt enim, eveniet voluptate blanditiis minus deserunt, placeat ratione exercitationem ab nobis libero necessitatibus voluptatibus quasi accusamus fugit quos esse eum. Expedita!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores repellendus rem non reprehenderit, neque placeat libero aliquid error cum, eos facere eveniet labore accusamus sapiente odit iusto incidunt perspiciatis harum!</p>

                <h2>Nossas receitas</h2>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolores mollitia hic odit minus, deserunt, quae in ipsa minima dolorem neque odio qui sit et fuga sequi, accusantium quis aspernatur.</p>
            </div>
        </div>

        <footer>
            <div>
                <span class="copyright">Todos direitos reservados, receitas Foodfy.</span>
            </div>
        </footer>

        <script src="./public/script.js"></script>
    </body>

</html>